REDIS_ADDR=redis:6379
INPUT_QUEUE=ai.requests
OUTPUT_QUEUE=ai.responses
LLM_URL_ROUTING=http://llm-model:11434
LLM_MODEL_ROUTING=qwen3:1.7b-q4_K_M
LLM_URL_INTENT=http://llm-model:11434
LLM_MODEL_INTENT=qwen3:4b-q4_K_M
LLM_URL_TRANSLATE=http://llm-model:11434
LLM_MODEL_TRANSLATE=qwen3:14b-q4_K_M
LLM_MODEL_ROUTING_TTL=5m
LLM_MODEL_INTENT_TTL=5m
LLM_MODEL_TRANSLATE_TTL=2m
CLOUDEVENT_TYPE_PREFIX=com.mywebsite.ai
HTTP_ADDR=:80
BRPOP_TIMEOUT=5
PRIORITY_HIGH_COUNT=3
PRIORITY_MEDIUM_COUNT=3
DEBUG=false
